doctype html
html
    head
        title=htmlWebpackPlugin.options.title
        meta(
            name="viewport"
            content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
        )
        each cssFile, index in htmlWebpackPlugin.files.css
            link(
                rel="stylesheet"
                href=cssFile
                integrity=htmlWebpackPlugin.files.cssIntegrity ? htmlWebpackPlugin.files.cssIntegrity[index] : undefined
                crossorigin=webpackConfig.output.crossOriginLoading
            )
    body
        #root
        each jsFile, index in htmlWebpackPlugin.files.js
            script(
                defer
                src=jsFile
                integrity=htmlWebpackPlugin.files.jsIntegrity ? htmlWebpackPlugin.files.jsIntegrity[index] : undefined
                crossorigin=webpackConfig.output.crossOriginLoading
            )
